.main-about {
    display: flex;
    justify-content: space-between;
    .title-section {
        width: 50%;
        margin-left: 10%;
    }

    .about-section {

        display: flex;

        .list-section {

        }

    }

}