.main-statisics {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(51, 51, 51);
    gap: 3%;
    position: relative;

    .veg-img-1 {
        position: absolute;
        height: 4%;
        left: 28%;
        top: 12%;
    }

    .veg-img-2 {
        position: absolute;
        height: 5%;
        left: 8%;
        bottom: 10%;
    }

    .veg-img-3 {
        position: absolute;
        height: 5%;
        right: 8%;
        top: 30%
    }

    .capcicum-img {
        position: absolute;
        height: 15%;
        right: 23%;
        top: 7%;
    }

    .capcicum-2-img {
        position: absolute;
        height: 13%;
        left: 27%;
        bottom: 11%;
        rotate: 60deg;
    }

    .onion-img {
        position: absolute;
        height: 15%;
        right: 5%;
        bottom: 24%;
    }

    .tomato-img {
        position: absolute;
        height: 13%;
        right: 33%;
        bottom: 7%;
    }
    
    .corainder-img {
        position: absolute;
        height: 18%;
        left: 4%;
        top: 28%;
    }

    .garlic-img {
        position: absolute;
        height: 3%;
        right: 14%;
        bottom: 14%
    }

    .main-heading {
        font-size: 3.8rem;
        color: rgb(255, 194, 0);
    }

    .main-about {
        color: white;
        max-width: 48%;
        font-size: 1.4rem;
        text-align: center;

    }

    .list-state {
        display: flex;
        gap: 75px;
        margin-bottom: 5%;

        div {
            margin-top: 6%;
            border-style: solid;
            border-width: 5px;
            border-color: white;
            width: 150px;
            height: 150px;
            border-radius: 50%;  
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 10px;
            gap: 10px;

            h1 {

                color: rgb(255, 194, 0);

            }

            h2 {

                color: white;

            }
        }

    }

}